.landingContainer {
    margin: 15px;
    box-shadow: 10px 10px 50px black,
                -10px -10px 50px black;
    z-index: -1;
    position: fixed;
}

.Row img {
    height: 294px;
    width: 496px;
    box-shadow: 2px 2px 50px black,
                -2px -2px 50px black;
    opacity: 0.5;
    z-index: 0;
    position: relative;
}

.titleLanding {
    margin-left: 320px;
    text-shadow: 2px 2px black;
    font-family: 'Galada';
    color: white;
}

.card .card-title {
    font-size: 80px;
}

.card .card-content {
    font-family: 'Chela One', cursive;
    text-shadow: 2px 2px black,
                    -1px -1px black;
}

.firstLine {
    font-size: 25px;
    color: white;
}

.secondLine {
    font-size: 25px;
    color: white;
    margin-top: 300px;
}

.thirdLine {
    font-size: 50px;
    color: white;

}

.button1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40%;
    background-color: white;
    color: #4db6ac;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray,
                -1px -1px 5px gray;
}

.button2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40%;
    margin-left: 2%;
    background-color: white;
    color: #4db6ac;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray,
                -1px -1px 5px gray;
}

.cardLanding {
    position: fixed;
    z-index: 1;
    width: 55%;
    height: 70%;
    border-radius: 5px;
    margin-left: 24%;
    margin-top: 8%;
    background-color: #4db6ac;
    box-shadow: 2px 2px 50px gray,
                -2px -2px 50px gray;
}

@media only screen and (max-width: 700px) {
    .landingContainer {
        width: 100%;
    }

    .cardLanding {
        width: 80%;
        margin-left: 8%;
    }

    .button1{
        margin-top: 70%;
    }

    .button2{
        margin-top: 70%;
    }

    .titleLanding {
        margin-left: 5%; 
    }
}

@media only screen and (max-width: 600px) {
    .landingContainer {
        width: 100%;
    }

    .cardLanding {
        width: 80%;
        height: 870px;
        margin-left: 8%;
    }

    .button1{
        margin-top: 125px;
    }

    .button2{
        margin-top: 125px;
    }

    .titleLanding {
        margin-left: 45px; 
    }

    .Row img {
        height: 294px;
        width: 370px;
    }
}
