.places {
    font-family: 'Lato', sans-serif;
}
 
.card {
    font-family: 'Lato', sans-serif;
    box-shadow: 1px 1px 5px black,
                -1px -1px 5px grey;
    margin-top: 50px;
    overflow: hidden;
    width: 100%;
}
 
.card .card-content .card-title {
    font-size: 35px;
    color: white !important;
    text-shadow: 2px 2px 5px black;
    font-family: 'Galada';
}
 
 .card > .places > img {
    width: 100%;
    height: 300px;
}

.card .card-content {
    background-color: #4db6ac;
    box-shadow: 1px 1px 5px black,
                -1px -1px 5px grey;
 }

.card .card-content p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.card .card-reveal .card-title {
    font-size: 30px;
    font-family: 'Galada';
    border-bottom: 1px solid black; 
}

.card .card-reveal p {
    font-size: 20px;
}


 