
.nav-bar {
    border-bottom: 1px solid gray;
    height: 100px;
    
}

.nav-item {
    font-family: 'Lato', sans-serif;
    float: right;
    line-height: 100px;
}

.nav-item a:hover {
    font-size: 20px;
}

.title {
    margin-left: 50px;
    text-shadow: 2px 2px black;
    font-family: 'Galada';
    font-size: 60px;
    line-height: 100px;
}

.side-nav {
    background-color: #4db6ac;
}

.side-nav a {
    font-size: 25px;
    margin-right: 150px;
    color: white;
}

.side-nav a:hover {
    color: grey;
}

nav ul a {
    font-size: 1.2rem;
}

.addBtn .btn {
    background-color: rgb(11, 66, 54);
}

nav .button-collapse i {
    line-height: 100px !important;
}

@media only screen and (min-width: 744px) {
    .title {
        text-shadow: 2px 2px black,
                    -1px -1px black;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 418px) {
    .title {
        margin-left: 15px;
    }
}